[submodule "sink"]
	path = sink
	url = ssh://git@github.com/AchmadFathoni/sink.git
[submodule "developer"]
	path = developer
	url = git@github.com:AchmadFathoni/developer.git
[submodule "WebGUI"]
	path = WebGUI
	url = git@github.com:AchmadFathoni/MonitorJembatan.git
